<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Dhurjati&display=swap" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/indexStyle.css" rel="stylesheet" type="text/css" />

</head>
<body>


    <div class="container">

        <div class="row navigation">
            <div class="col-6">
                <div class="feel-good-text">Feel Good</div>
            </div>
            <div class="col-6">
                <div class="log-out-button">LOG OUT</div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-12" align="center">
                <img id="index-image" src="/images/dh-image.png" class="img-fluid" />
            </div>

        </div>

        <div class="alert-box-header mt-3">Current office stats:</div>

        <div class="row mt-1 justify-content-center" >
            <div class="col-6 col-sm-6 col-lg-3" align="center">
                <div class="info-box-header">Temperature</div>
                <div class="info-box">
                    <div class="info-box-text">{{temperature}}°C</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3" align="center">
                <div class="info-box-header">Humidity</div>
                <div class="info-box">{{humidity}}%</div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3" align="center">
                <div class="info-box-header">Brightness</div>
                <div class="info-box">
                    <div class="info-box-text">{{brightness}}</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3" align="center">
                <div class="info-box-header">Noise</div>
                <div class="info-box">{{noise}}dB</div>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="alert-box-header">How are you feeling?</div>
                <div class="row mt-2 mb-3 justify-content-center" >
                    <div class="col-12 col-sm-4 col-lg-4" align="center">
                        <div class="info-box-header">Frustrated</div>
                        <img class="feelings" src="/images/frustrated.png">
                    </div>
                    <div class="col-12 col-sm-4 col-lg-4" align="center">
                        <div class="info-box-header">OK</div>
                        <img class="feelings" src="/images/OK.png">
                    </div>
                    <div class="col-12 col-sm-4 col-lg-4" align="center">
                        <div class="info-box-header">Fantastic</div>
                        <img class="feelings" src="/images/fantastic.png">
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>

</body>
</html>