<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Dhurjati&display=swap" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/indexStyle.css" rel="stylesheet" type="text/css" />

</head>
<body>

<script src="/javascripts/officeScript.js" type="text/javascript"></script>

<div class="container">

    <div class="row navigation">
        <div class="col-6">
            <div class="feel-good-text">Feel Good</div>
        </div>
        <div class="col-6">
            <div class="log-out-button">LOG OUT</div>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-12" align="center">
            <img src="/images/office.png" class="img-fluid" width="350"/>
        </div>

    </div>

    <div class="alert-box-header mt-3" align="center">General office statistics:</div>

    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col-12">
            <div class="alert-box-header">Alerts:</div>
            <div class="alert-box mt-2">Temperature is too low for most of the employees.</div>
        </div>
    </div>

    <div class="alert-box-header mt-3">Temperature</div>

    <!-- Styles -->
    <style>
        #chartdiv2 {
            width: 100%;
            height: 500px;
        }

    </style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
        am4core.ready(function() {

// Themes begin
            am4core.useTheme(am4themes_dark);
            am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
            var chart2 = am4core.create("chartdiv2", am4charts.XYChart);

// Add data
            console.log(" Podatki: ", JSON.stringify(pridobiPodatke()))
            chart2.data = pridobiPodatke();

// Set input format for the dates
            chart2.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";

// Create axes
            var dateAxis = chart2.xAxes.push(new am4charts.DateAxis());
            var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());

// Create series
            var series = chart2.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value";
            series.dataFields.dateX = "date";
            series.tooltipText = "{value}"
            series.strokeWidth = 2;
            series.minBulletDistance = 15;

// Drop-shaped tooltips
            series.tooltip.background.cornerRadius = 20;
            series.tooltip.background.strokeOpacity = 0;
            series.tooltip.pointerOrientation = "vertical";
            series.tooltip.label.minWidth = 40;
            series.tooltip.label.minHeight = 40;
            series.tooltip.label.textAlign = "middle";
            series.tooltip.label.textValign = "middle";

// Make bullets grow on hover
            var bullet = series.bullets.push(new am4charts.CircleBullet());
            bullet.circle.strokeWidth = 2;
            bullet.circle.radius = 4;
            bullet.circle.fill = am4core.color("2D5887");

            var bullethover = bullet.states.create("hover");
            bullethover.properties.scale = 1.3;

// Make a panning cursor
            chart2.cursor = new am4charts.XYCursor();
            chart2.cursor.behavior = "panXY";
            chart2.cursor.xAxis = dateAxis;
            chart2.cursor.snapToSeries = series;


        }); // end am4core.ready()
    </script>

    <div id="chartdiv2"></div>

    <!-- Styles -->
    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
        am4core.ready(function() {

// Themes begin
            am4core.useTheme(am4themes_dark);
            am4core.useTheme(am4themes_animated);
// Themes end

            var chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
            chart.data = [
                {
                    country: "Fantastic",
                    visits: 20
                },
                {
                    country: "OK",
                    visits: 31
                },
                {
                    country: "Frustrated",
                    visits: 5
                }];

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.dataFields.category = "country";
            categoryAxis.renderer.minGridDistance = 40;
            categoryAxis.fontSize = 19;
            categoryAxis.renderer.labels.template.dy = 5;



            var image = new am4core.Image();
            image.horizontalCenter = "middle";
            image.width = 60;
            image.height = 60;
            image.verticalCenter = "middle";
            image.adapter.add("href", (href, target)=>{
                let category = target.dataItem.category;
                if(category){
                    return "/images/" + category.split(" ").join("-").toLowerCase() + ".png";
                }
                return href;
            })
            categoryAxis.dataItems.template.bullet = image;



            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.min = 0;
            valueAxis.renderer.minGridDistance = 30;
            valueAxis.renderer.baseGrid.disabled = true;


            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryX = "country";
            series.dataFields.valueY = "visits";
            series.columns.template.tooltipText = "{valueY.value}";
            series.columns.template.tooltipY = 0;
            series.columns.template.strokeOpacity = 0;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
            series.columns.template.adapter.add("fill", function(fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });

        }); // end am4core.ready()
    </script>

    <!-- HTML -->
    <div class="alert-box-header mt-3">Mood</div>
    <div id="chartdiv"></div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap.bundle.js"></script>

</body>
</html>