<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Dhurjati&display=swap" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/indexStyle.css" rel="stylesheet" type="text/css" />

</head>
<body>


<div class="container">

    <div class="row navigation">
        <div class="col-6">
            <div class="feel-good-text">Feel Good</div>
        </div>
        <div class="col-6">
            <div class="log-out-button">LOG OUT</div>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-12" align="center">
            <img src="/images/office.png" class="img-fluid" width="350"/>
        </div>

    </div>

    <div class="alert-box-header mt-3">General office statistics:</div>

    <div class="row mt-5 justify-content-center">
        <div class="col-12">
            <div class="alert-box-header">Alerts:</div>
            <div class="alert-box">Temperature is too low for most of the employees.</div>
        </div>
    </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap.bundle.js"></script>

</body>
</html>