<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Dhurjati&display=swap" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/indexStyle.css" rel="stylesheet" type="text/css" />

</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/officeScript.js" type="text/javascript"></script>


<div class="container">

    <div class="row navigation">
        <div class="col-6">
            <div class="feel-good-text">Feel Good</div>
        </div>
        <div class="col-6">
            <div class="log-out-button">LOG OUT</div>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-12" align="center">
            <img src="/images/office.png" class="img-fluid" width="350"/>
        </div>

    </div>

    <div class="alert-box-header mt-3" align="center">General office statistics:</div>

    <div class="row mt-5 mb-3 justify-content-center">
        <div class="col-12">
            <div class="alert-box-header">Alerts:</div>
            <div class="alert-box mt-2">Temperature is too low for most of the employees.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div id="chart-header" class="alert-box-header mt-3">Temperature</div>
        </div>
        <div class="col-8 mt-3">
            <div class="arrows">
                <svg id="arrow-left" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                </svg>
                <svg id="arrow-right" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="chart-holder">
        <div class="charts charts-active" id="chartdiv2"></div>
        <div class="charts" id="chartdiv3"></div>
        <div class="charts" id="chartdiv4"></div>
        <div class="charts" id="chartdiv5"></div>
    </div>
    <!-- HTML -->
    <div class="alert-box-header mt-3">Mood</div>
    <div id="chartdiv"></div>


</div>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap.bundle.js"></script>
<script src="/javascripts/lineChartTemperature.js" type="text/javascript"></script>
<script src="/javascripts/lineChartHumidity.js" type="text/javascript"></script>
<script src="/javascripts/lineChartBrightness.js" type="text/javascript"></script>
<script src="/javascripts/lineChartNoise.js" type="text/javascript"></script>
<script src="/javascripts/chartSwitcher.js" type="text/javascript"></script>
<!-- <script src="/javascripts/histogram.js" type="text/javascript"></script> -->

</body>
</html>